.doanvan {
    margin-bottom: 50px;
    margin-top: 50px;
}

.btn-contact {
    background-color: #ffffff;
    color: #252525;
}

.chutrangkhihover:hover {
    color: white !important;
}

.chutrangkhihover {
    color: #252525;
}


/*Ipad ngang(1024 x 768)*/

@media screen and (max-width: 1024px) {}


/*Ipad dọc(768 x 1024)*/

@media screen and (max-width: 768px) {
    .marginPhone {
        display: none;
    }
    ;
    .paddingPhone {
        display: none;
    }
}


/*Tablet nhỏ(480 x 640)*/

@media screen and (max-width: 480px) {
    .marginPhone {
        display: none;
    }
    .paddingPhone {
        display: none;
    }
}


/*Iphone(480 x 640)*/

@media screen and (max-width: 320px) {
    .marginPhone {
        display: none;
    }
    .paddingPhone {
        display: none;
    }
}


/*Smart phone nhỏ*/

@media screen and (max-width: 240px) {
    .marginPhone {
        display: none;
    }
    .paddingPhone {
        display: none;
    }
}