 .media-29101 img {
     margin-bottom: 20px;
 }
 
 .media-29101 h3 {
     font-size: 18px;
     font-weight: 900 !important;
 }
 
 .media-29101 h3 a {
     color: #6c757d;
 }
 
 .owl-2-style .owl-nav {
     display: none;
 }
 
 .owl-2-style .owl-dots {
     text-align: center;
     position: relative;
     bottom: -30px;
 }
 
 .owl-2-style .owl-dots .owl-dot {
     display: inline-block;
 }
 
 .owl-2-style .owl-dots .owl-dot span {
     display: inline-block;
     width: 15px;
     height: 3px;
     border-radius: 0px;
     background: #cccccc;
     -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
     -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
     transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
     margin: 3px;
     border-radius: 1000px;
 }
 
 .owl-2-style .owl-dots .owl-dot.active span {
     background: #252525;
     border-radius: 1000px;
 }
 
 .owl-2-style .owl-dots .owl-dot:active,
 .owl-2-style .owl-dots .owl-dot:focus {
     outline: none;
     border-radius: 1000px;
 }