@model IEnumerable<CHOM.Data.Contact>

@{
    ViewData["Title"] = "Lời giới thiệu";
    Layout = "~/Areas/Admin/Views/Shared/Layout/_Layout.cshtml";
}

<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Header Start-->
    @await Component.InvokeAsync("HeaderAdmin")
    <!-- Page Header Ends-->
    <!-- Page Body Start-->
    <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        @await Component.InvokeAsync("SideBar")
        <!-- Page Sidebar Ends-->
        <div class="page-body">
            <div class="container-fluid">
            </div>
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <!-- Feature Unable /Disable Order Starts-->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header pb-0">
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Hình ảnh</th>
                                                <th>Tên</th>
                                                <th>Giới thiệu</th>
                                                <th>Cột mốc</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Count() > 0)
                                            {
                                                @foreach (var item in Model)
                                                {
                                                    <tr class="btn-@item.ID">
                                                        <td><img src="/contact/@item.HinhAnh" /></td>
                                                        <td>@item.Ten</td>
                                                        <td>
                                                            @Html.Raw(item.GioiThieu)
                                                        </td>
                                                        <td>
                                                            @Html.Raw(item.CotMoc)
                                                        </td>
                                                        <td>
                                                            <a href="/Admin/Contact/Edit/@item.ID" class="btn btn-sm btn-warning">Sửa</a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

