@model CHOM.Data.BoSuuTam

@{
    ViewData["Title"] = "Tạo hình ảnh";
    Layout = "~/Areas/Admin/Views/Shared/Layout/_Layout.cshtml";
}

<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Header Start-->
    @await Component.InvokeAsync("HeaderAdmin")
    <!-- Page Header Ends-->
    <!-- Page Body Start-->
    <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        @await Component.InvokeAsync("SideBar")
        <!-- Page Sidebar Ends-->
        <!-- Page Sidebar Ends-->
        <div class="page-body">
            <div class="container-fluid">
            </div>
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header pb-0">
                        <h5>@ViewBag.Title</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="date-picker">
                                    <form action="/Admin/Gallery/Create" enctype="multipart/form-data" method="post">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        @if (ViewBag.Message != null)
                                        {
                                            <div class="alert alert-danger">@ViewBag.Message</div>
                                        }
                                        <div class="form-group">
                                            <label asp-for="IDMucLuc" class="control-label"></label>
                                            <select asp-for="IDMucLuc" asp-items="@ViewBag.ListMenu" class="form-control"></select>
                                            <span asp-validation-for="IDMucLuc" class="text-danger"></span>
                                        </div>
                                        <div class="form-group d-flex flex-column"> 
                                            <label asp-for="HinhAnh" class="control-label"></label>
                                            <input class="check-img" name="uploadFile" type="file" />
                                        </div>
                                        <div class="form-group btn-event mt-5">
                                            <a class="btn btn-back-hover" href="/Admin/Gallery">Quay về</a>
                                            <input type="submit" role="button" value="Tạo mới" class="btn cl-btn cl-btn-create" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                    </div>


                </div>
                    <div class="card">
                        <div class="card-header pb-0">
                            <h5>Single File Upload</h5>
                        </div>
                        <div class="card-body">
                            <form class="dropzone dz-clickable" id="singleFileUpload" action="/upload.php">
                                <div class="dz-message needsclick">
                                    <i class="icon-cloud-up"></i>
                                    <h6>Drop files here or click to upload.</h6><span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
            <!-- Container-fluid Ends-->
        </div>
    </div>
</div>
