 .nav-item {
     color: #545454 !important;
 }
 
 .nav-link:hover {
     color: #252525;
 }
 
 .nav-link {
     color: #545454;
 }
 
 p {
     font-size: 14px;
     color: #545454;
 }
 
 a {
     font-size: 16px;
     color: #545454;
     text-decoration: none;
 }
 
 a:hover {
     font-size: 16px;
     color: #252525;
     text-decoration: none;
     font-weight: 800;
 }
 
 h6 {
     font-size: 22px;
     color: #545454;
 }
 
 h5 {
     font-size: 28px;
     color: #545454;
 }
 
 h4 {
     font-size: 34px;
     color: #545454;
 }
 
 h3 {
     font-size: 40px;
     color: #545454;
 }
 
 h2 {
     font-size: 46px;
     color: #545454;
 }
 
 h2 {
     font-size: 52px;
     color: #545454;
 }
 /* ------------ HOME -------------- */
 
 .title-home {
     color: #e5e5e5;
 }
 
 .title-home:hover {
     color: #b2b2b2;
 }
 /* ------------ DU AN ------------- */
 
 .content-duan {
     aspect-ratio: 1/1;
 }
 /* ---------- ABOUT US ------------ */
 
 iframe {
     filter: gray;
     -webkit-filter: grayscale(99%);
 }
 
 .info-text {
     font-weight: bold;
     text-decoration: none;
 }
 
 .info-text:hover {
     color: #252525;
 }
 
 .about-content {
     padding: 10px;
 }
 
 .comment-text {
     height: 15vh;
 }
 
 .info-content {
     padding: 0 120px;
 }
 
 .text-infomation {
     height: 46px;
     text-align: justify;
     overflow: hidden;
     /* white-space: nowrap; */
     text-overflow: ellipsis;
 }
 
 @media only screen and (min-width: 1537px) {
     .info-text {
         font-size: 20px;
     }
     .about-content {
         padding: 30px;
     }
 }
 
 @media only screen and (max-width: 992px) {
     .info-content {
         padding: 0;
     }
     .about-content {
         padding: 5px;
     }
 }