

/*a{
    text-decoration: none !important;
}
a:hover {
    text-decoration: none !important;
}
.ajax-link{
    color: black !important;
}*/

.gal {
    padding: 0 80px;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

    .gal img {
        width: 100%;
        margin: 7px 0;
        border-radius: 8px;
    }

@media (max-width: 500px) {

    .gal {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
}