
@{
    ViewData["Title"] = "Login";
    Layout = "~/Areas/Admin/Views/Shared/Layout/_Layout.cshtml";
}

<!-- page-wrapper Start-->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-7"><img class="bg-img-cover bg-center" src="~/Admin/dict/images/login/2.jpg" alt="looginpage"></div>
            <div class="col-xl-5 p-0">
                <div class="login-card">
                    <form class="theme-form login-form" asp-action="Login" asp-area="Admin" asp-controller="Home" method="post">
                        <h4>Đăng nhập</h4>
                        <h6>Chào mừng đến với trang admin</h6>
                        <div class="form-group">
                            <label>Tài khoản</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="icon-email"></i></span>
                                <input class="form-control" name="UserName" type="text" required="" placeholder="Tai khoan...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="icon-lock"></i></span>
                                <input class="form-control" type="password" name="Password" required="" placeholder="*********">
                                <div class="show-hide"><span class="show"></span></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">Đăng nhập</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page-wrapper end-->

