@model IEnumerable<CHOM.Data.HinhAnh>

@{
    ViewData["Title"] = "Interior";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
    var Next = (CHOM.Data.DuAn)ViewBag.Next;
    var Prev = (CHOM.Data.DuAn)ViewBag.Prev;
}
@section css{
    <link href="~/Client/dict/css/style.css" rel="stylesheet" />
    <link href="~/Client/dict/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">


    <style>
        .canvas-slider {
            /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
            filter: gray;
            /* IE5+ */
            -webkit-filter: grayscale(1);
            /* Webkit Nightlies & Chrome Canary */
            -webkit-transition: all .8s ease-in-out;
        }

            .canvas-slider:hover {
                filter: none;
                -webkit-filter: grayscale(0);
            }
    </style>
}
@section js{
    <script type="text/javascript">
        var count = 1;
        var btnTang = document.getElementById("btnTang");
        var btnGiam = document.getElementById("btnGiam");
        var disp = document.getElementById("display");
        var _max = $('.text-shadow').data('id');
        btnTang.onclick = function () {
            if (count < _max) {
                count++;
            }

            disp.innerHTML = count;
        }
        btnGiam.onclick = function () {
            if (count > _max || count < 0) {
                count = _max;
            }

            else count--;

            disp.innerHTML = count;
        }
    </script>
}
<div id="content-scroll">
    <!-- Main -->
    <div id="main">
        <!-- Hero Section -->
        <div id="hero" class="has-image">
            <div id="hero-styles">
                <div id="hero-caption" class="content-max-width parallax-scroll-caption">
                    <div class="inner">

                        <div class="content-row small  change-header-color" data-bgcolor="#171717">

                            <div class="swiper-container content-carousel autocenter light-cursor">
                                <div class="swiper-wrapper">
                                    @foreach (var item in Model)
                                    {
                                        <div class="swiper-slide">
                                            <div class="slide-img">
                                                <img src="/fileImages/@item.FileName"
                                                 alt="Image Title">
                                            </div>
                                        </div>
                                    }
                                </div>
                                <!-- <div class="swiper-pagination"></div> -->
                            </div>

                        </div>

                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div id="hero-footer">
                    <div class="box-pagination-project">
                        <a class="button-prev-project button-wrap swiper-prev" href="/Watch/Interior/@Prev.ID" data-type="page-transition">
                            <div class="button-icon parallax-element" style="width: auto">
                                <i class="fa fa-angle-left"></i>
                            </div>
                            <div class="button-text">Prev Project</div>
                        </a>
                        <div class="index-project">
                            <div id="display">
                                1
                            </div>
                            <div class="line-index-project"></div>
                            <div data-id="@Model.Count()">
                                @Model.Count()
                            </div>
                        </div>
                        <a class="button-next-project button-wrap swiper-prev" href="/Watch/Interior/@Next.ID" data-type="page-transition">
                            <div class="button-text">Next Project</div>
                            <div class="button-icon parallax-element" style="width: auto">
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--/Hero Section -->
        <!--/Main Content -->
    </div>
    <!--/Main -->

</div>
