@model IEnumerable<CHOM.Data.HinhAnh>
@{
    ViewData["Title"] = "Landscape";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
    var count = 0;
    var countItem = 0;
}
@section js{
    <script type="text/javascript">
        var count = 1;
        var btnTang = document.getElementById("btnTang");
        var btnGiam = document.getElementById("btnGiam");
        var disp = document.getElementById("display");

        btnTang.onclick = function () {
            if (count < 30) {
                count++;
            }

            disp.innerHTML = count;
        }
        btnGiam.onclick = function () {
            if (count > 30 || count < 0) {
                count = 30;
            }

            else count--;

            disp.innerHTML = count;
        }
    </script>
}
<!-- Main -->
<div id="content-scroll">
    <div id="main">

        <!-- Main Content -->
        <div id="main-content" style="text-shadow: rgb(0 0 0) 2px 3px 5px;">


            <!-- Showcase Slider Holder -->
            <div id="showcase-slider-holder" data-pattern-img="Client/dict/images/displacement/7.jpg">
                <div id="showcase-slider" class="swiper-container">
                    <div id="trigger-slides" class="swiper-wrapper">
                        @foreach (var item in Model)
                        {
                            if (count == 0)
                            {
                                <div class="swiper-slide text-shadow" data-title="@ViewBag.Title" data-subtitle="">
                                    <div class="slide-wrap active" data-slide="0"></div>

                                </div>
                            }
                            else
                            {
                                <div class="swiper-slide text-shadow" data-title="" data-subtitle="">
                                    <div class="slide-wrap" data-slide="@count"></div>

                                </div>
                            }
                            count = count + 1;

                        }
                    </div>
                </div>
            </div>
            <div class="box-left"></div>

            <!-- Showcase Borders -->
            <div id="fixed-borders">
                <div class="caption-border left"></div>
                <div class="caption-border right"></div>
            </div>
            <div id="canvas-slider" class="canvas-slider">
                @foreach (var item in Model)
                {
                    <div class="slider-img " data-slide="@countItem">
                        <img class="slide-img "
                         src="/fileImages/@item.FileName" alt="" />
                    </div>
                    countItem = countItem + 1;
                }
            </div>
            <!--/canvas slider -->
            <!-- Showcase Pagination -->
            <div class="showcase-pagination-wrap">
                <div class="showcase-pagination"></div>
            </div>
            <!--/Showcase Pagination -->


        </div>
        <!--/Main Content -->

    </div>
    <!--/Main -->
    <!-- Footer -->
    <footer class="hidden">
        <div id="footer-container">
            <div class="box-pagination-project">
                <div id="btnGiam" class="button-prev-project button-wrap disable-drag swiper-prev">
                    <div class="button-icon parallax-element" style="width: auto">
                        <i class="fa fa-angle-left"></i>
                    </div>
                    <div class="button-text text-shadow">Project 1</div>
                </div>
                <div class="index-project">
                    <div id="display" class="text-shadow">
                        1
                    </div>
                    <div class="line-index-project"></div>
                    <div class="text-shadow">
                        @Model.Count()
                    </div>
                </div>
                <div id="btnGiam" class="button-next-project button-wrap disable-drag swiper-prev">
                    <div class="button-text text-shadow">Project 3</div>
                    <div class="button-icon parallax-element" style="width: auto">
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <!--/Footer -->

</div>
