@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}
@section css{
    <link href="~/Client/dict/css/style.css" rel="stylesheet" />
}

<!-- Content Scroll -->
<div id="content-scroll">
    <!-- Main -->
    <div id="main">
        <div id="main-content">
            <div id="main-page-content" style="margin-top: 100px">
                <div class="light-section-wrapper" style="background-color: rgb(250, 250, 250);">
                    <div class="light-section-container content-max-width">
                        <div class="content-row row_padding_bottom light-section d-flex" style="display: flex;flex-direction: column;align-items: center" data-bgcolor="#fafafa">
                            <a href="/"><img src="~/Client/dict/images/logo.svg" /></a>
                            <h2 class="has-animation animated" style="opacity: 1;margin-top: 10px; transform: translate3d(0px, 0px, 0px);">Lỗi 404 không tìm thấy trang web</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/Main Content -->
    </div>
    <!--/Main -->


</div>
<!--/Content Scroll -->


<div id="app"></div>

