@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
    var video = (CHOM.Data.Video)ViewBag.Video;
}
@section css{
    <link href="~/Client/dict/css/style.css" rel="stylesheet" />
    <link href="~/Client/dict/css/style-gallery.css" rel="stylesheet" />
    <link href="~/Client/dict/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

}

<!-- Content Scroll -->
<div id="content-scroll">


    <!-- Main -->
    <div id="main">


        <div style="background-color: black; height: 100vh; width: 100vw;">

            <video autoplay muted loop id="myVideo">

                <source src="~/contact/@video.FileName" type="video/mp4">

            </video>



            <a class="position-button" href="/Home">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" style="color: white" width="80" height="80" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                  <path
                    d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                </svg> -->
                <img class="images-logo-home" src="~/Client/dict/images/logo-dark.svg" alt="logo">
            </a>

        </div>
    </div>
    <!--/Main -->




</div>
<!--/Content Scroll -->
