@{
    var listMucluc = (IEnumerable<CHOM.Data.MucLuc>)ViewBag.ListProject;
}

<header class="fullscreen-menu">
    <div id="header-container">


        <!-- Logo -->
        <div id="logo" class="hide-ball">
            <a class="ajax-link" href="/">
                C.H.O.M
            </a>
        </div>
        <!--/Logo -->
        <!-- Navigation -->
        <nav>
            <div class="nav-height">
                <div class="outer">
                    <div class="inner">
                        <ul data-breakpoint="10025" class="flexnav">
                            <li class="link menu-timeline">
                                <a class="" href="#">
                                    <div class="before-span">
                                        Dự án
                                    </div>
                                </a>
                                <ul>
                                    @foreach (var item in listMucluc.Where(x => x.IDParent != 0).OrderBy(x => x.ThuTu))
                                    {
                                        <li>
                                            <a class="ajax-link" href="/Project/@item.ID" data-hover="Click to see">@item.Ten</a>
                                        </li>
                                    }
                                </ul>
                            </li>
                            <li class="link menu-timeline">
                                <a href="/Gallery">
                                    <div class="before-span">
                                        Thư viện
                                    </div>
                                </a>
                            </li>
                            <li class="link menu-timeline">
                                <a href="/Contact">
                                    <div class="before-span">
                                        Liên hệ
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!--/Navigation -->
        <!-- Menu Burger -->
        <div class="button-wrap right menu burger-lines">
            <div class="icon-wrap parallax-wrap">
                <div class="button-icon parallax-element @(ViewBag.TitleIndex != null ? "light-content" : "")">
                    <div id="burger-wrapper">
                        <div id="menu-burger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            @if (ViewBag.BackList != null)
            {
                if (ViewBag.BackList == 2)
                {
                    <div class="button-text sticky right"><a style="color: #ffffff" href="/Project/@ViewBag.BackList">Menu</a></div>
                }
                else
                {
                    <div class="button-text sticky right"><a href="/Project/@ViewBag.BackList">Menu</a></div>
                }
            }
            else
            {
                <div class="button-text sticky right"><span data-hover="Menu">Menu</span></div>
            }
        </div>
        <!--/Menu Burger -->

    </div>
</header>