 	/*--------------------------------------------------
	Hero Section
---------------------------------------------------*/
 	.hero-below-caption .hero-translate {
 	    position: fixed;
 	    height: 390px;
 	    display: none;
 	    visibility: hidden;
 	    width: 100%;
 	    top: 0;
 	}

 	#hero {
 	    width: 100%;
 	    height: auto;
 	    max-height: 100%;
 	    position: relative;
 	    z-index: 20;
 	}

 	#hero.has-image {
 	    z-index: 2;
 	    height: 100vh;
 	    overflow: hidden;
 	}

 	#hero.has-slider {
 	    z-index: 0;
 	    height: 100vh;
 	    overflow: hidden;
 	}

 	.hero-below-caption #hero.has-image {
 	    z-index: 2;
 	    height: calc(100vh + 390px);
 	    overflow: hidden;
 	}

 	#hero-styles {
 	    position: relative;
 	    width: 100%;
 	    height: auto;
 	    top: 0;
 	    left: 0;
 	    right: 0;
 	    display: block;
 	    margin: 0 auto;
 	    z-index: 2;
 	}

 	#hero.has-image #hero-styles {
 	    position: absolute;
 	    height: 100vh;
 	}

 	#hero.has-slider #hero-styles {
 	    background-color: #555;
 	    overflow: hidden;
 	}

 	.show-loader #hero.has-slider #hero-styles {
 	    background-color: transparent;
 	}

 	#hero-caption {
 	    display: table;
 	    width: 100%;
 	    padding-top: 200px;
 	    padding-bottom: 140px;
 	    margin: 0 auto;
 	    height: 100%;
 	    position: relative;
 	    box-sizing: border-box;
 	    text-align: left;
 	    pointer-events: initial;
 	}

 	#hero.has-image #hero-caption {
 	    padding-top: 20px;
 	    padding-bottom: 20px;
 	    text-align: center;
 	}

 	#hero.has-slider #hero-caption {
 	    padding: 0;
 	    max-width: none;
 	}

 	.hero-below-caption #hero.has-image #hero-caption {
 	    padding-top: 300px;
 	    /*modify the top space minus half title height*/
 	    padding-bottom: 20px;
 	    height: auto;
 	    text-align: center;
 	}

 	#hero #hero-caption.text-align-center {
 	    text-align: center;
 	}

 	#hero #hero-caption .inner {
 	    vertical-align: top;
 	}

 	#hero.has-image #hero-caption .inner {
 	    vertical-align: middle;
 	}

 	#hero-image-wrapper {
 	    position: absolute;
 	    width: 100%;
 	    height: 100vh;
 	    z-index: 0;
 	    margin: 0 auto;
 	    left: 0;
 	    top: 0;
 	    right: 0;
 	    -webkit-transition: filter 0.6s ease-in-out;
 	    transition: filter 0.6s ease-in-out;
 	    overflow: hidden;
 	}

 	#hero-background-layer {
 	    position: absolute;
 	    width: 100%;
 	    height: 100%;
 	    top: 0;
 	    z-index: 0;
 	}

 	#hero-bg-image {
 	    background-size: cover;
 	    position: absolute;
 	    background-position: center center;
 	    width: 100%;
 	    height: 100%;
 	    z-index: 0;
 	    opacity: 0;
 	    overflow: visible;
 	}

 	.load-project-page #hero-bg-image,
 	.load-next-project #hero-bg-image,
 	.load-project-thumb-with-title #hero-bg-image {
 	    opacity: 1 !important;
 	    -webkit-transform: scale(1.02);
 	    transform: scale(1.02);
 	}

 	.hero-title,
 	.next-hero-title,
 	.next-temp-hero-title {
 	    font-size: 100px;
 	    line-height: 130px;
 	    font-weight: 500;
 	    font-family: 'Poppins', sans-serif;
 	    position: relative;
 	    display: block;
 	    margin-bottom: 0px;
 	    display: inline-block;
 	    vertical-align: top;
 	    width: auto;
 	    overflow: hidden;
 	    padding: 0;
 	    color: #000;
 	    margin-left: 0px;
 	}

 	.text-align-center .hero-title,
 	.text-align-center .next-hero-title {
 	    margin: auto;
 	}

 	.next-temp-hero-title {
 	    position: absolute;
 	    white-space: nowrap;
 	    left: 0;
 	    right: 0;
 	    font-family: "Canela-Regular";
 	    font-weight: 500;
 	}

 	.hero-title span {
 	    opacity: 0;
 	    display: block;
 	    transform: translateY(130px);
 	    -webkit-transform: translateY(130px);
 	}

 	.next-hero-title span {
 	    display: block;
 	    transform: translateY(0px);
 	    -webkit-transform: translateY(0px);
 	}

 	.inline-title .hero-title span,
 	.inline-title .next-hero-title span,
 	.inline-title .next-temp-hero-title span {
 	    display: inline-table;
 	}

 	.light-content .hero-title,
 	.light-content .next-hero-title {
 	    color: #fff;
 	}

 	.change-header .hero-title,
 	.change-header .next-hero-title {
 	    color: #000;
 	}

 	.hero-title div,
 	.next-hero-title div,
 	.next-temp-hero-title div {
 	    display: inline-flex;
 	    margin: 0 15px auto;
 	    text-align: center;
 	}

 	#hero.has-image .hero-title span {
 	    display: block;
 	    float: left;
 	    margin: 0;
 	    min-width: 10px;
 	    width: auto;
 	    box-sizing: border-box;
 	    transform: translateY(130px);
 	    -webkit-transform: translateY(130px);
 	}

 	#project-nav .next-hero-title span {
 	    display: block;
 	    float: left;
 	    margin: 0;
 	    min-width: 10px;
 	    width: auto;
 	    box-sizing: border-box;
 	    opacity: 0;
 	    -webkit-transform: translateY(100px) rotateX(-90deg);
 	    transform: translateY(100px) rotateX(-90deg);
 	    transform-origin: 50% 50% 0px;
 	}

 	.load-project-thumb-with-title .next-temp-hero-title span {
 	    opacity: 0 !important;
 	    -webkit-transform: translateY(10px) rotateX(78deg) !important;
 	    transform: translateY(10px) rotateX(78deg) !important;
 	    transform-origin: 50% 10% 0px !important;
 	}

 	.load-project-thumb-with-title .next-hero-title span {
 	    opacity: 1 !important;
 	    -webkit-transform: translateY(0px) rotateX(0deg) !important;
 	    transform: translateY(0px) rotateX(0deg) !important;
 	    transform-origin: 50% 10% 0px !important;
 	}

 	.hero-subtitle,
 	.next-hero-subtitle {
 	    font-size: 18px;
 	    font-family: 'Poppins', sans-serif;
 	    font-weight: 500;
 	    line-height: 30px;
 	    margin-bottom: 0px;
 	    width: 100%;
 	    z-index: 10;
 	    position: relative;
 	    display: block;
 	    overflow: hidden;
 	    margin-left: 0px;
 	    color: #000;
 	    opacity: 0.5;
 	}

 	#hero.has-image .hero-subtitle,
 	#project-nav .next-hero-subtitle,
 	.temporary-hero .next-hero-subtitle {
 	    opacity: 1;
 	}

 	.hero-subtitle span {
 	    position: relative;
 	    display: block;
 	    opacity: 0;
 	    transform: translateY(60px);
 	    -webkit-transform: translateY(60px);
 	}

 	.next-hero-subtitle span {
 	    position: relative;
 	    display: block;
 	}

 	.inline-title .hero-subtitle span,
 	.inline-title .next-hero-subtitle span {
 	    display: inline-block;
 	}

 	.load-next-project .hero-title span,
 	.load-next-page .hero-title span {
 	    transform: translateY(0px) !important;
 	    -webkit-transform: translateY(0px) !important;
 	    opacity: 1 !important;
 	}

 	.load-next-project .hero-subtitle span,
 	.load-next-page .hero-subtitle span {
 	    transform: translateY(0px) !important;
 	    -webkit-transform: translateY(0px) !important;
 	    opacity: 1 !important;
 	}

 	.light-content .hero-subtitle,
 	.light-content .next-hero-subtitle {
 	    color: #fff;
 	}

 	.change-header .hero-subtitle,
 	.change-header .next-hero-subtitle {
 	    color: #000 !important;
 	}

 	#hero.has-image .hero-subtitle:before,
 	.text-align-center .hero-subtitle:before {
 	    left: 50%;
 	    margin-left: -10px;
 	}

 	#hero-footer {
 	    position: absolute;
 	    width: 100%;
 	    padding: 30px 80px;
 	    box-sizing: border-box;
 	    bottom: 0;
 	    left: 0;
 	    font-weight: 600;
 	    font-family: 'Poppins', sans-serif;
 	    font-size: 12px;
 	    line-height: 60px;
 	    color: #000;
 	}

 	#hero-footer.landing {
 	    top: calc(100vh - 120px);
 	    width: auto;
 	}

 	.light-content #hero-footer {
 	    color: #fff;
 	}

 	#hero-footer:after {
 	    content: "";
 	    clear: both;
 	    display: table;
 	}

 	.hero-footer-left {
 	    float: left;
 	    opacity: 0;
 	    cursor: pointer;
 	    transform: translateY(40px);
 	    -webkit-transform: translateY(40px);
 	}

 	.hero-footer-right {
 	    float: right;
 	    opacity: 0;
 	    cursor: pointer;
 	    transform: translateY(40px);
 	    -webkit-transform: translateY(40px);
 	}

 	#share {
 	    top: -3px;
 	    right: -24px;
 	    position: relative;
 	}

 	#share::before {
 	    position: absolute;
 	    top: 0;
 	    left: -140px;
 	    content: attr(data-text);
 	    width: 120px;
 	    text-align: right;
 	}

 	#share .parallax-wrap {
 	    width: 60px;
 	    height: 60px;
 	    display: flex;
 	    position: relative;
 	    justify-content: center;
 	    align-items: center;
 	    float: left;
 	}

 	#main #hero-footer .button-wrap.left {
 	    float: none;
 	    left: -24px;
 	}

 	#main #hero-footer .button-wrap.right {
 	    float: none;
 	    right: -24px;
 	}

 	/*--------------------------------------------------
	Main Content
---------------------------------------------------*/


 	#main {
 	    position: relative;
 	    opacity: 0;
 	    user-select: none;
 	    -webkit-user-select: none;
 	    -khtml-user-select: none;
 	    -moz-user-select: none;
 	    -ms-user-select: none;
 	    overflow: hidden;
 	}

 	.load-project-page #main,
 	.load-next-project #main,
 	.load-next-page #main {
 	    opacity: 1;
 	}

 	#main-content,
 	#main-content-bg {
 	    position: relative;
 	    opacity: 1;
 	    z-index: 10;
 	    -webkit-transition: all 0.4s ease-in-out 0s;
 	    transition: all 0.4s ease-in-out 0s;
 	}

 	#main-page-content {
 	    position: relative;
 	    box-sizing: border-box;
 	    opacity: 0;
 	    width: 100%;
 	    margin: 0 auto;
 	    margin-bottom: 0;
 	}

 	#main-page-content::after {
 	    clear: both;
 	    content: " ";
 	    display: table;
 	}

 	#main-page-content.project-page {
 	    margin-bottom: calc(100vh - 120px);
 	}

 	.hero-below-caption #main-page-content.project-page {
 	    margin-bottom: calc(100vh - 120px);
 	}

 	#main-page-content.portfolio-page {
 	    width: 100%;
 	    height: 100vh;
 	    max-width: none;
 	    padding: 0;
 	    display: flex;
 	    align-items: center;
 	}

 	/*--------------------------------------------------
	Page Navigation
---------------------------------------------------*/

 	#page-nav {
 	    height: auto;
 	    width: 100%;
 	    color: #000;
 	    position: relative;
 	    margin-bottom: 0;
 	}

 	.light-content #page-nav {
 	    color: #fff;
 	}

 	.page-nav-wrap {
 	    position: relative;
 	    left: 0;
 	    bottom: 0;
 	    width: 100%;
 	    height: 100%;
 	    overflow: hidden;
 	    z-index: 3;
 	    transform: translateY(0px);
 	    -webkit-transform: translateY(0px);
 	}


 	.page-nav-caption {
 	    display: table;
 	    width: 100%;
 	    margin: 0 auto;
 	    padding-top: 200px;
 	    padding-bottom: 140px;
 	    margin: 0 auto;
 	    height: 100%;
 	    top: -20%;
 	    opacity: 0;
 	    position: relative;
 	    box-sizing: border-box;
 	}

 	#page-nav .inner {
 	    vertical-align: middle;
 	    text-align: left;
 	}

 	#page-nav .text-align-center .inner {
 	    text-align: center;
 	}

 	.page-title {
 	    font-weight: 500;
 	    margin: 0;
 	    width: auto;
 	    z-index: 10;
 	    color: #000;
 	    position: relative;
 	    display: table;
 	    -webkit-transition: all 0.2s ease-in-out;
 	    transition: all 0.2s ease-in-out;
 	}

 	.text-align-center .page-title {
 	    margin: 0 auto;
 	}

 	.light-content .page-title {
 	    color: #fff;
 	}

 	/*--------------------------------------------------
	Project Page Navigation
---------------------------------------------------*/

 	#project-nav {
 	    height: 100vh;
 	    width: 100%;
 	    color: #fff;
 	    position: absolute;
 	    margin-bottom: 0;
 	    bottom: -100vh;
 	    overflow: hidden;
 	}

 	.hero-below-caption #project-nav {
 	    height: 100vh;
 	    bottom: -100vh;
 	}

 	#project-nav.change-header {
 	    color: #000;
 	}

 	.next-project-wrap {
 	    display: table;
 	    width: 100%;
 	    margin: 0 auto;
 	    height: 100%;
 	    position: relative;
 	    box-sizing: border-box;
 	    opacity: 0;
 	    top: -40%;
 	    z-index: 10;
 	}

 	.hero-below-caption .next-project-wrap {
 	    top: 0;
 	}

 	.next-project-image-wrapper {
 	    position: fixed;
 	    width: 100%;
 	    height: 100%;
 	    top: 0;
 	    left: 0;
 	    opacity: 0;
 	}

 	.next-project-image-wrapper.active {
 	    opacity: 1;
 	}


 	.next-project-image {
 	    position: fixed;
 	    top: 60%;
 	    opacity: 0;
 	    left: 0;
 	    height: 100%;
 	    width: 100%;
 	    overflow: hidden;
 	}

 	.hero-below-caption .next-project-image {
 	    top: calc(100vh + 220px);
 	    opacity: 0;
 	    -webkit-transition: scale(0.7);
 	    transform: scale(0.7);
 	}

 	.load-project-thumb-with-title .next-project-image {
 	    z-index: 10;
 	}

 	.next-project-image.temporary {
 	    top: 0px !important;
 	}

 	.hero-below-caption .next-project-image.temporary {
 	    top: 390px !important;
 	}

 	.next-project-image.visible {
 	    opacity: 1 !important;
 	}

 	.next-project-image-bg {
 	    position: absolute;
 	    top: 0;
 	    left: 0;
 	    height: 100%;
 	    width: 100%;
 	    background-size: cover;
 	    background-position: center center;
 	    background-repeat: no-repeat;
 	    opacity: 1;
 	    z-index: 1;
 	    -webkit-transform: scale(1);
 	    transform: scale(1);
 	}

 	.next-project-caption {
 	    display: table;
 	    margin: 0 auto;
 	    width: 100%;
 	    height: 100%;
 	    box-sizing: border-box;
 	    padding-top: 20px;
 	    padding-bottom: 20px;
 	}

 	.hero-below-caption .next-project-caption {
 	    padding-top: 300px;
 	}

 	.next-caption-wrapper {
 	    display: table-cell;
 	    box-sizing: border-box;
 	    vertical-align: middle;
 	    text-align: center;
 	    position: relative;
 	}

 	.hero-below-caption .next-caption-wrapper {
 	    vertical-align: top;
 	    text-align: center;
 	}

 	#project-nav .caption-wrapper {
 	    position: relative;
 	    display: table;
 	    height: auto;
 	    margin: 0 auto;
 	}

 	.next-caption {
 	    display: block;
 	    position: relative;
 	    z-index: 1;
 	}

 	#project-nav .next-ajax-link-project {
 	    display: block;
 	    margin: 0;
 	    width: 100%;
 	    height: 100%;
 	    position: absolute;
 	    z-index: 10;
 	    top: 0;
 	    left: 0;
 	}

 	#project-nav .next-hero-title,
 	#project-nav .next-temp-hero-title,
 	#project-nav .next-hero-subtitle {
 	    color: #fff;
 	}

 	#project-nav.change-header .next-hero-title,
 	#project-nav.change-header .next-temp-hero-title,
 	#project-nav.change-header .next-hero-subtitle {
 	    color: #000;
 	}



 	/*--------------------------------------------------
	Temporary Hero
---------------------------------------------------*/

 	.temporary-hero {
 	    position: fixed;
 	    top: 0;
 	    left: 0;
 	    width: 100%;
 	    height: 100%;
 	    z-index: 99999;
 	    pointer-events: none;
 	    z-index: 10;
 	}

 	.temporary-hero .outer {
 	    width: 100%;
 	    padding-top: 20px;
 	    padding-bottom: 20px;
 	    height: 100%;
 	    position: relative;
 	    margin: 0 auto;
 	    box-sizing: border-box;
 	    z-index: 10;
 	}

 	.hero-below-caption .temporary-hero .outer {
 	    padding-top: 300px;
 	}

 	.temporary-hero .inner {
 	    vertical-align: middle;
 	    text-align: center;
 	}

 	.hero-below-caption .temporary-hero .inner {
 	    vertical-align: top;
 	    text-align: center;
 	}

 	.temporary-hero .inner .caption-wrapper,
 	.temporary-hero .inner .next-caption {
 	    position: relative;
 	    width: 100%;
 	    display: block;
 	}

 	.temporary-hero .inner .caption-wrapper {
 	    padding: 0;
 	    height: auto;
 	}

 	.temporary-hero .inner .caption-wrapper .title span {
 	    color: #000;
 	    opacity: 1;
 	    -webkit-transform: translateY(0px);
 	    transform: translateY(0px);
 	}

 	.temporary-hero .temporary-hero .inner .caption-wrapper .subtitle {
 	    opacity: 1;
 	}

 	.temporary-hero .inner .caption-wrapper .subtitle span {
 	    position: relative;
 	    display: block;
 	    opacity: 1;
 	    color: #000;
 	    transform: translateY(0px);
 	    -webkit-transform: translateY(0px);
 	}

 	.temporary-hero.light-content .inner .caption-wrapper .title span,
 	.temporary-hero.light-content .inner .caption-wrapper .subtitle span {
 	    color: #fff;
 	}

 	.temporary-hero .inner .caption-wrapper .title div:first-child span:first-child::before {
 	    opacity: 0;
 	    -webkit-transition: opacity 0.3s ease-out 0.2s;
 	    transition: opacity 0.3s ease-out 0.2s;
 	}

 	.temporary-hero .inner .caption-wrapper .title div:first-child span:first-child::after {
 	    opacity: 0;
 	    -webkit-transition: opacity 0.3s ease-out 0.2s;
 	    transition: opacity 0.3s ease-out 0.2s;
 	}


 	/*--------------------------------------------------
	General Width and Padding for Hero, Content, Page and Project Nav
---------------------------------------------------*/


 	.content-max-width {
 	    box-sizing: border-box;
 	    /* padding-left: 60px;
 	    padding-right: 60px; */
 	    max-width: 1280px;
 	}


 	/*--------------------------------------------------
	Responsive
---------------------------------------------------*/




 	@media only screen and (max-width: 1466px) {

 	    .hero-title,
 	    .next-hero-title,
 	    .next-temp-hero-title {
 	        font-size: 90px;
 	        line-height: 110px;
 	    }

 	    .hero-title div,
 	    .next-hero-title div,
 	    .next-temp-hero-title div {
 	        margin: 0 13px auto;
 	    }

 	    #hero-caption,
 	    .page-nav-caption {
 	        padding-top: 200px;
 	        padding-bottom: 140px;
 	    }

 	    #hero-footer {
 	        padding: 20px 60px;
 	    }

 	    #hero-footer.landing {
 	        display: none;
 	    }

 	    #hero-footer.landing {
 	        display: none;
 	    }

 	    #main-page-content.project-page {
 	        margin-bottom: calc(100vh - 100px);
 	    }

 	    .hero-below-caption #main-page-content.project-page {
 	        margin-bottom: calc(100vh - 100px);
 	    }

 	    /* .content-max-width {
 	        padding-left: 60px;
 	        padding-right: 60px;
 	    } */

 	}

 	@media only screen and (max-width: 1024px) {

 	    .hero-title,
 	    .next-hero-title,
 	    .next-temp-hero-title {
 	        font-size: 72px;
 	        line-height: 90px;
 	    }

 	    .hero-title div,
 	    .next-hero-title div,
 	    .next-temp-hero-title div {
 	        margin: 0 10px auto;
 	    }

 	    #hero-footer {
 	        padding: 10px 40px;
 	    }

 	    /* .content-max-width {
 	        padding-left: 40px;
 	        padding-right: 40px;
 	    } */

 	}

 	@media only screen and (max-width: 767px) {


 	    .hero-title,
 	    .next-hero-title,
 	    .next-temp-hero-title {
 	        font-size: 60px;
 	        line-height: 76px;
 	    }

 	    .hero-title div,
 	    .next-hero-title div,
 	    .next-temp-hero-title div {
 	        margin: 0 8px auto;
 	    }

 	    .hero-subtitle,
 	    .next-hero-subtitle {
 	        font-size: 16px;
 	        line-height: 30px;
 	    }

 	    #hero-caption,
 	    .page-nav-caption {
 	        padding-top: 180px;
 	        padding-bottom: 120px;
 	    }

 	    #hero-footer {
 	        padding: 10px 30px;
 	    }

 	    .hero-footer-left .button-text {
 	        display: none;
 	    }

 	    .has-slider .hero-footer-left .button-text,
 	    .has-slider .hero-footer-right .button-text {
 	        display: none;
 	    }

 	    /* .content-max-width {
 	        padding-left: 30px;
 	        padding-right: 30px;
 	    } */

 	}

 	@media only screen and (max-width: 479px) {

 	    .hero-below-caption .hero-translate {
 	        height: 325px;
 	    }

 	    .hero-title,
 	    .next-hero-title,
 	    .next-temp-hero-title {
 	        font-size: 48px;
 	        line-height: 64px;
 	    }

 	    .hero-title div,
 	    .next-hero-title div,
 	    .next-temp-hero-title div {
 	        margin: 0 7px auto;
 	    }

 	    .next-hero-title::after {
 	        font-size: 24px;
 	        bottom: 8px;
 	    }

 	    .hero-subtitle,
 	    .next-hero-subtitle {
 	        font-size: 14px;
 	        line-height: 30px;
 	    }

 	    #hero-caption,
 	    .page-nav-caption {
 	        padding-top: 160px;
 	        padding-bottom: 100px;
 	    }

 	    #hero-footer {
 	        padding: 10px 20px;
 	    }

 	    /* .content-max-width {
 	        padding-left: 20px;
 	        padding-right: 20px;
 	    } */

 	}