.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    /* background-color: #fff; */
}

@media screen {}

.one-page {
    height: 100vh;
}

.imgBG {
    /* max-height: 10wh !important; */
    background-image: url("videbg.mp4") !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.3;
    color: rgb(0, 0, 0);
    background-color: black;
}

.nav-item {
    color: #545454 !important;
}

.video-play-button {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 15px;
    height: 12px;
    background: #252525;
    border-radius: 50%;
    padding: 9px 24px 18px 28px;
    opacity: 0.5;
}

.video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 55px;
    height: 55px;
    background: #252525;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 100%;
    transition: all 200ms;
    border: solid 1px #fff;
}

.video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 18px solid #252525;
    border-top: 10px solid transparent;
    border-bottom: 12px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 0.5;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

.nav-link:hover {
    color: #252525;
}

.nav-link {
    color: #545454;
}

p {
    font-size: 14px;
    color: #545454;
}

a {
    font-size: 16px;
    color: #545454;
    text-decoration: none;
}

a:hover {
    /* font-size: 16px;
    color: #252525;
    text-decoration: none;
    font-weight: 800; */
}

h6 {
    font-size: 22px;
    color: #545454;
}

h5 {
    font-size: 28px;
    color: #545454;
}

h4 {
    font-size: 34px;
    color: #545454;
}

h3 {
    font-size: 40px;
    color: #545454;
}

h2 {
    font-size: 46px;
    color: #545454;
}

h1 {
    font-size: 52px;
    color: #545454;
}


/* ------------ HOME -------------- */

.title-home {
    color: #fff;
}

.title-home:hover {
    color: #fff;
}

.position-button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-play {
    width: 80px;
    color: white;
    aspect-ratio: 1/1;
}


/* ------------ DU AN ------------- */

.img-content-duan {
    aspect-ratio: 1/1;
    object-fit: cover;
    filter: grayscale(1);
    transition: filter .3s;
}

.img-content-duan:hover {
    filter: grayscale(0);
}

.title-content-duan {
    font-size: 16px;
}

.content-duan {
    height: 80vh;
}


/* ---------- ABOUT US ------------ */

iframe {
    filter: gray;
    -webkit-filter: grayscale(99%);
}

.info-text {
    font-weight: bold;
    text-decoration: none;
}

.info-text:hover {
    color: #252525;
}

.about-content {
    padding: 0 10px;
}

.comment-text {
    height: 15vh;
}

.info-content {
    padding: 60px 120px 0px 120px;
}

.text-infomation {
    height: 46px;
    text-align: justify;
    overflow: hidden;
    line-height: 16px;
    text-overflow: ellipsis;
}


/* -------CANH QUAN------------ */

.img-canhquan {
    aspect-ratio: 1/1;
}

.canhquan-item {
    margin: 0 40px;
}


/*** 

====================================================================
	Gallery Section Customize
====================================================================

***/

.hello {
    opacity: 1 !important;
}

.full {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.full .content {
    background-color: rgba(0, 0, 0, 0.75) !important;
    height: 100%;
    width: 100%;
    display: grid;
}

.full .content img {
    left: 50%;
    transform: translate3d(0, 0, 0);
    /* animation: zoomin 1s ease; */
    max-width: 100%;
    height: 100vh;
    margin: auto;
}

.byebye {
    opacity: 0;
}

.byebye:hover {
    transform: scale(0.2) !important;
}

.gallery {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 8px;
    padding: 0 75px;
}

.gallery img {
    max-width: 100%;
    border-radius: 8px;
    transition: all 1.5s ease;
}

.gallery .content {
    padding: 4px;
}

.gallery .gallery-item {
    transition: grid-row-start 300ms linear;
    transition: transform 300ms ease;
    transition: all 0.5s ease;
    cursor: pointer;
    padding: 0 5px;
}

.gallery .gallery-item:hover {
    transform: scale(1.025);
}

.position-logo-honme {
    height: 350px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* -------- scroll contact------------ */

.scrollbar {
    margin-left: 22px;
    float: left;
    height: 500px;
    width: 100%;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
    z-index: 100;
}

.force-overflow {
    min-height: 450px;
}

#wrapper {
    text-align: center;
    margin: auto;
}

#style-4::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}

.image-member {
    height: 250px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: 10px;
}

.title-info {
    color: #B8860B;
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 0 10px;
}

.name-member,
.name-info {
    color: #B8860B;
    font-weight: normal;
    padding: 0 8px;
}

.line-title {
    width: 100%;
    border-bottom: 2px solid #B8860B;
}

.info-member {
    line-height: 16px;
    text-align: justify;
    padding: 0 10px;
}

.images-logo-home {
    width: 350px;
}
.form-contact {
    margin: 0 10px;
    width: calc(50% - 20px);
}

@media (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
}

@media (max-width: 400px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
}

@-moz-keyframes zoomin {
    0% {
        max-height: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
    }
    30% {
        filter: blur(4px);
        transform: rotate(-80deg);
    }
    70% {
        max-height: 50%;
        transform: rotate(45deg);
    }
    100% {
        max-height: 100%;
        transform: rotate(0deg);
    }
}

@-webkit-keyframes zoomin {
    0% {
        max-height: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
    }
    30% {
        filter: blur(4px);
        transform: rotate(-80deg);
    }
    70% {
        max-height: 50%;
        transform: rotate(45deg);
    }
    100% {
        max-height: 100%;
        transform: rotate(0deg);
    }
}

@-o-keyframes zoomin {
    0% {
        max-height: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
    }
    30% {
        filter: blur(4px);
        transform: rotate(-80deg);
    }
    70% {
        max-height: 50%;
        transform: rotate(45deg);
    }
    100% {
        max-height: 100%;
        transform: rotate(0deg);
    }
}

@keyframes zoomin {
    0% {
        max-height: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
    }
    30% {
        filter: blur(4px);
        transform: rotate(-80deg);
    }
    70% {
        max-height: 50%;
        transform: rotate(45deg);
    }
    100% {
        max-height: 100%;
        transform: rotate(0deg);
    }
}


/*** 

====================================================================
	Gallery Section
====================================================================

***/

@media only screen and (min-width: 1537px) {
    .info-text {
        font-size: 18px;
    }
    .about-content {
        padding: 10px 30px;
    }
}
@media only screen and (max-width: 1140px) {
    .scrollbar {
        height: 450px;
    }
}

@media only screen and (max-width: 1024px) {
    .gallery {
        padding: 0 35px;
    }
    .images-logo-home {
        width: 300px;
    }
}
@media (max-width: 960px) {
    .scrollbar {
        height: auto;
        overflow-y: auto;
        margin-left: 0;
    }
    .form-contact {
        margin: 0;
        width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    .info-content {
        padding: 80px 12px 0 12px;
    }
    .about-content {
        padding: 5px;
    }
    .gallery {
        padding: 0 25px;
    }
    .images-logo-home {
        width: 250px;
    }
    
}

@media only screen and (max-width: 479px) {
    .content-duan {
        padding: 0 80px;
    }
    .gallery {
        padding: 0 15px;
    }
}