@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";

}

<div id="main">


    <!-- Main Content -->
    <div id="main-content">
        <!-- Main Page Content -->
        <div id="main-page-content">


            <!-- Portfolio Wrap -->
            <div id="itemsWrapperLinks" class="portfolio-wrap spaced-grid fade-scaleout-effect">
                <!-- Portfolio Columns -->
                <div id="itemsWrapper" class="portfolio webgl-fitthumbs">
                    <div class="item trigger-item design photo">
                        <a href="listnoithat.html">
                            <div class="item-parallax">
                                <div class="item-appear">
                                    <div class="item-content">
                                        <div class="item-wrap-image" data-color="#4c484f">
                                            <img src="~/Client/dict/images/noithatHome.jpg"
                                                 class="item-image grid__item-img trigger-item-link"
                                                 alt="">
                                        </div>
                                        <img class="grid__item-img grid__item-img--large"
                                             src="~/Client/dict/images/noithatHome.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="item-caption-wrapper">
                                    <div class="item-caption">
                                        <div class="item-date"
                                             style="text-shadow: rgb(0 0 0) 2px 3px 5px;">
                                            2022
                                        </div>
                                        <div class="item-cat"
                                             style="text-shadow: rgb(0 0 0) 2px 3px 5px;">
                                            Category
                                            Here
                                        </div>
                                        <div class="item-title secondary-font"
                                             style="text-shadow: rgb(0 0 0) 2px 3px 5px;">
                                            Interior
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item trigger-item design photo item-logo">
                        <a href="#">
                            <div class="item-parallax">
                                <div class="item-appear">
                                    <div class="item-content">
                                        <div class="item-wrap-image" data-color="#4c484f">
                                            <div class="item-image ">
                                                <img src="~/Client/dict/images/hinhHome.png"
                                                     class="logo-image item-image grid__item-img trigger-item-link"
                                                     alt="Logo">
                                                <img src="~/Client/dict/images/logo-dark.svg"
                                                     class="logo-image item-image grid__item-img trigger-item-link"
                                                     alt="Logo"
                                                     style="position: absolute; top: 0; scale: 0.8;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="item trigger-item branding design">
                        <a href="listcanhquan.html">
                            <div class="item-parallax">
                                <div class="item-appear">
                                    <div class="item-content">
                                        <div class="item-wrap-image" data-color="#cf837d">
                                            <img src="~/Client/dict/images/canhquanHome.jpg"
                                                 class="item-image grid__item-img trigger-item-link"
                                                 alt="">
                                        </div>
                                        <img class="grid__item-img grid__item-img--large"
                                             src="~/Client/dict/images/canhquanHome.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="item-caption-wrapper">
                                    <div class="item-caption">
                                        <div class="item-date"
                                             style="text-shadow: rgb(0 0 0) 2px 3px 5px;">
                                            2022
                                        </div>
                                        <div class="item-cat"
                                             style="text-shadow: rgb(0 0 0) 2px 3px 5px;">
                                            Category
                                            Here
                                        </div>
                                        <div class="item-title secondary-font"
                                             style="text-shadow: rgb(0 0 0) 2px 3px 5px;">
                                            Landscape
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <!--/Portfolio -->
            </div>
            <!--/Portfolio Wrap -->


        </div>
        <!--/Main Page Content -->





    </div>
    <!--/Main Content -->

</div>