body {
    font-family: 'Quicksand' !important;
    overflow: hidden;
}

@media screen {}

.one-page {
    height: 100vh;
}

.imgBG {
    /* max-height: 10wh !important; */
    background-image: url("videbg.mp4") !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.3;
    color: rgb(0, 0, 0);
    background-color: black;
}

.nav-item {
    color: #545454 !important;
}

.video-play-button {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 15px;
    height: 12px;
    background: #252525;
    border-radius: 50%;
    padding: 9px 24px 18px 28px;
    opacity: 0.5;
}

.video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 55px;
    height: 55px;
    background: #252525;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 100%;
    transition: all 200ms;
    border: solid 1px #fff;
}

.video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 18px solid #252525;
    border-top: 10px solid transparent;
    border-bottom: 12px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 0.5;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

.nav-link:hover {
    color: #252525;
}

.nav-link {
    color: #545454;
}

p {
    font-size: 14px;
    color: #545454;
}

a {
    /* font-size: 16px; */
    color: #969696;
    text-decoration: none;
}

a:hover {
    /* font-size: 16px; */
    color: white;
    text-decoration: none;
    font-weight: 800;
}

h6 {
    font-size: 22px;
    color: #545454;
}

h5 {
    font-size: 28px;
    color: #545454;
}

h4 {
    font-size: 34px;
    color: #545454;
}

h3 {
    font-size: 40px;
    color: #545454;
}

h2 {
    font-size: 46px;
    color: #545454;
}

h1 {
    font-size: 52px;
    color: #545454;
}

.title-home {
    color: #fff;
}

.title-home:hover {
    color: #fff;
}

/* ---------- ABOUT US ------------ */
.text-justify {
    text-align: justify;
}

iframe {
    filter: gray;
    -webkit-filter: grayscale(99%);
}

.info-text {
    font-weight: bold;
    text-decoration: none;
}

.info-text:hover {
    color: #252525;
}

.about-content {
    padding: 10px;
}

.comment-text {
    height: 15vh;
}

.info-content {
    padding: 0 120px;
}

.text-infomation {
    height: 46px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overlay {
    position: absolute;
    top: 0;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffffba;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: #252525;
    font-weight: 600;
}

.ctahide {
    position: absolute;
    top: 25%;
    right: 15%;
    text-align: center;
    color: #ffffffba !important;
}

.ctahide:hover {
    opacity: 0;
}

.imagess {
    display: block;
    height: auto;
    width: 300px;
    opacity: 0.5;
}

.imagess:hover {
    opacity: 0;
}

.img-canhquan {
    aspect-ratio: 1/1;
    width: 90% !important;
}

.canhquan-item {
    margin: 10px 100px;
    transition: all .3s;
}

.canhquan-item:hover {
    transform: scale(1.02);
}

.canhquan-box {
    position: fixed;
    width: 100%;
    left: 0;
    top: 10%;
}

.img-slide {
    height: 100vh;
    object-fit: cover;
    opacity: 0.3;
    /* animation: reloadimg 1s ease-in-out; */
    transition: opacity 0.4s ease-in;
    -webkit-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -o-transition: opacity 0.4s ease-in;
}

@keyframes reloadimg {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 0.3;
    }
}

.transitioning-src {
    transition: opacity 0.4s ease-out;
    -webkit-transition: opacity 0.4s ease-out;
    -moz-transition: opacity 0.4s ease-out;
    -ms-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    opacity: 0;
}

.canhquan-path {
    z-index: 1000 !important;
    position: fixed;
    top: 50%;
    left: 15%;
    color: white;
}

.content-center {
    position: absolute;
    top: 22%;
    width: 100%;
}

.previews {
    left: 8%;
    height: 360px;
    overflow: scroll;
}

.previews::-webkit-scrollbar {
    display: none;
}

.preview-item {
    margin: 15px 0;
    opacity: 0.3;
}

.preview-item-img {
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: #fff solid 2px;
}

.active {
    opacity: 1;
}

.full-width {
    width: 100% !important;
}

/* transition img */
.tpk_card {
    width: auto;
    height: auto;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
}

.tpk_card .front {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
}

.tpk_card:hover .front {
    transform: rotateX(-180deg);
}

.tpk_card .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
}

.tpk_card .back:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
}

.tpk_card:hover .back {
    transform: rotateX(0deg);
}

.carousel-caption {
    right: 0;
    left: 0;
}

.carousel-control-next,
.carousel-control-prev {
    position: relative;
    width: auto;
}

.index-project {
    position: fixed;
    bottom: 20px;
    right: 0;
}

.text-index-project {
    font-weight: 800;
    font-size: 32px;
}

.o-hidden,
.cap {
    overflow: hidden;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.hamenu .menu-links .o-hidden {
    display: inline-block;
}

.valign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 100;
}

.ontop {
    position: relative;
    z-index: 7;
}

.slider-bus .ontop {
    position: relative;
    z-index: 5;
}

.showcase-carus.circle-slide .caption h1,
.showcase-carus.circle-slide .copy-cap h1 {
    font-size: 22px;
    display: block;
}

/* ====================== [ Start Slider ] ====================== */
.slider {
    position: relative;
}

.slider.fixed-slider {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.slider .swiper-slide-active {
    z-index: 3;
}

.slider .parallax-slider {
    position: relative;
}

.slider .parallax-slider .swiper-slide {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
}

.slider .parallax-slider .swiper-slide .bg-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
}

.slider .parallax-slider .swiper-slide-active .caption h1[data-splitting] {
    -webkit-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.slider .parallax-slider .swiper-slide-active .caption h1[data-splitting] .char {
    -webkit-animation: fadeInUp 0.5s cubic-bezier(0.3, 0, 0.7, 1) both;
    animation: fadeInUp 0.5s cubic-bezier(0.3, 0, 0.7, 1) both;
    -webkit-animation-delay: calc(60ms * var(--char-index));
    animation-delay: calc(60ms * var(--char-index));
}

.slider .parallax-slider .swiper-slide-active .caption .thin,
.slider .parallax-slider .swiper-slide-active .caption .butn,
.slider .parallax-slider .swiper-slide-active .caption h1,
.slider .parallax-slider .swiper-slide-active .caption p {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.slider .parallax-slider .caption .thin {
    color: #12c2e9;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 5px;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition-delay: .8s;
    -o-transition-delay: .8s;
    transition-delay: .8s;
}

.slider .parallax-slider .caption .thin span {
    color: #12c2e9;
}

.slider .parallax-slider .caption h1 {
    font-size: 65px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #fff;
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    visibility: hidden;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
}

.slider .parallax-slider .caption p {
    color: #eee;
    margin-top: 15px;
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition-delay: .8s;
    -o-transition-delay: .8s;
    transition-delay: .8s;
}

.slider .parallax-slider .caption .butn {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
}

.slider .parallax-slider .caption.dig h1 {
    font-weight: 800;
    font-size: 80px;
    text-transform: uppercase;
}

.slider .parallax-slider .caption.dig h1 .tline {
    margin-left: 80px;
}

.slider .parallax-slider .caption.dig h1 .whitespace {
    width: 20px;
}

.slider .setone {
    position: absolute;
    bottom: 8%;
    right: 40px;
    z-index: 8;
}

.slider .setone .swiper-nav-ctrl {
    color: #ccc;
    font-size: 13px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    margin: 5px 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: static;
}

.slider .setone .swiper-nav-ctrl:after {
    display: none;
}

.slider .setone.setwo {
    position: static;
}

.slider .setone.setwo .swiper-nav-ctrl {
    border-radius: 50%;
}

.slider .setone.setwo .next-ctrl {
    position: absolute;
    top: 50%;
    right: 30px;
}

.slider .setone.setwo .prev-ctrl {
    position: absolute;
    top: 50%;
    left: 30px;
}

.slider .txt-botm {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    z-index: 8;
}

.slider .txt-botm .swiper-nav-ctrl {
    position: absolute;
    width: auto;
    height: auto;
    margin-top: auto;
    top: auto;
    bottom: 0;
}

.slider .txt-botm .swiper-nav-ctrl i {
    color: #888;
    font-size: 13px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin: 0;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.slider .txt-botm .swiper-nav-ctrl span {
    color: #111;
    font-weight: 500;
    font-size: 16px;
}

.slider .txt-botm .swiper-nav-ctrl:after {
    display: none;
}

/* .slider .txt-botm .swiper-nav-ctrl.swiper-button-next {
    right: 40px;
} */

.slider .txt-botm .swiper-nav-ctrl.swiper-button-next i {
    margin-left: 10px;
}

/* .slider .txt-botm .swiper-nav-ctrl.swiper-button-prev {
    left: 40px;
} */

.slider .txt-botm .swiper-nav-ctrl.swiper-button-prev i {
    margin-right: 10px;
}

.slider .txt-botm .swiper-nav-ctrl:hover i {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.slider.showcase-full .txt-botm i {
    color: #eee;
}

.slider.showcase-full .txt-botm span {
    color: #fff;
}

.slider.showcase-full .txt-botm:hover i {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.slider .swiper-pagination-fraction.top {
    position: absolute;
    right: 15%;
    left: auto;
    bottom: auto;
    top: 20%;
    width: auto;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}

.slider .swiper-pagination-fraction.top .swiper-pagination-current {
    font-size: 60px;
    font-weight: 700;
    position: relative;
    color: transparent;
    -webkit-text-stroke: .5px #fff;
}

.slider .swiper-pagination-fraction.top .swiper-pagination-current:after {
    content: '/';
    color: #fff;
    position: relative;
    margin: 0 10px;
    font-size: 12px;
    font-weight: 100;
}

.slider .swiper-pagination-fraction.top.botm {
    top: auto;
    bottom: 40px;
    right: 40px;
}

.slider .swiper-pagination-fraction.steps {
    position: absolute;
    width: 100px;
    color: #fff;
    font-size: 15px;
    bottom: 40px;
    left: calc(50% - 50px);
    right: auto;
    top: auto;
    text-align: left;
}

.slider .swiper-pagination-fraction.steps:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 15%;
    width: 70%;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
}

.slider .swiper-pagination-fraction.steps .swiper-pagination-total {
    float: right;
}

.slider .social-icon {
    position: absolute;
    left: 40px;
    bottom: 40px;
    z-index: 8;
}

.slider .social-icon a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.05);
    color: #fff;
    font-size: 13px;
}

.slider-st {
    min-height: 100vh;
    padding: 120px 0;
}

.slider-st .img {
    position: relative;
}

.slider-st .img:after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: -webkit-gradient(linear, left top, right top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
    background: -webkit-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
    background: -o-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
    background: #545454;
    border-radius: 15px;
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.slider-st .img:before {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    background: #fff;
    border-radius: 15px;
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    opacity: .08;
}

.slider-st .img img {
    border-radius: 15px;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    position: relative;
    z-index: 2;
}

.slider-stwo {
    min-height: 100vh;
    position: relative;
    padding: 120px 0;
}

.slider-stwo:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background: #f5f5f5;
    z-index: -1;
}

.slider-stwo .img {
    padding-right: 30px;
}

.slider-stwo .img img {
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 30px rgba(255, 255, 255, 0.05);
    box-shadow: 0px 10px 30px rgba(255, 255, 255, 0.05);
}

.slider-stwo ul {
    margin: 30px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.slider-stwo ul li {
    display: inline-block;
}

.slider-stwo ul li div {
    display: table-cell;
}

.slider-stwo ul li .icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    position: relative;
    font-size: 20px;
}

.slider-stwo ul li .icon .bord {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider-stwo ul li .icon .bord:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    border-radius: 5px;
    z-index: -1;
}

.slider-stwo ul li .icon .bord:before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, right top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
    background: -webkit-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
    background: -o-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
    background: #545454;
    z-index: -2;
}

.slider-stwo ul li .cont {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
}

.slider-stwo ul li .cont p {
    font-size: 13px;
    margin-top: 5px;
}

.particles {
    min-height: 100vh;
    position: relative;
    z-index: 2;
}

.particles .cont h1 {
    font-size: 90px;
    font-weight: 800;
}

.arch-slider {
    padding-bottom: 80px;
}

.arch-slider .parallax-slider .caption h5 {
    font-size: 50px;
    font-weight: 200;
}

.arch-slider .parallax-slider .caption h1 {
    font-size: 75px;
    font-weight: 600;
    letter-spacing: 2px;
}

.arch-slider .parallax-slider .caption p {
    font-weight: 300;
    padding-left: 100px;
    margin-left: 100px;
    position: relative;
}

.arch-slider .parallax-slider .caption p:after {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    background: #eee;
    width: 70px;
    height: 1px;
}

.arch-slider .parallax-slider .explore {
    margin-left: auto;
    margin-top: -100px;
    color: #fff;
}

.arch-slider .parallax-slider .explore a {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.arch-slider .parallax-slider .explore a i {
    font-size: 12px;
    margin-left: 10px;
}

.arch-slider .setting {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 50px;
    width: 300px;
    background: #fff;
    z-index: 4;
}

.arch-slider .setting .swiper-button-next,
.arch-slider .setting .swiper-button-prev {
    color: #111;
}

.arch-slider .setting .swiper-button-next:after,
.arch-slider .setting .swiper-button-prev:after {
    display: none;
}

.arch-slider .setting .next-ctrl {
    padding-left: 25px;
    margin-right: 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.arch-slider .setting .prev-ctrl {
    padding-right: 25px;
    margin-left: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.arch-slider .setting .swiper-pagination-bullets {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.arch-slider .setting .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    margin: 0 7px;
    position: relative;
    opacity: 1;
}

.arch-slider .setting .swiper-pagination-bullets .swiper-pagination-bullet-active {
    background: #111;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.freelancre {
    min-height: 100vh;
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}

.freelancre:after {
    content: '';
    width: 140%;
    background: rgba(0, 0, 0, 0.04);
    height: 100%;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
    position: absolute;
    top: -40%;
    left: -20%;
    z-index: -1;
}

.freelancre .img {
    position: relative;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    z-index: 2;
}

.freelancre .img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}

.freelancre .img:after {
    content: '';
    background: -webkit-gradient(linear, right top, left top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
    background: -webkit-linear-gradient(right, #12c2e9, #c471ed, #f64f59);
    background: -o-linear-gradient(right, #12c2e9, #c471ed, #f64f59);
    background: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 50%;
    z-index: -1;
}

.freelancre .cont h1 {
    font-size: 35px;
}

.freelancre .states {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 50px;
}

.freelancre .states .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.freelancre .states ul {
    margin: 0;
}

.freelancre .states li {
    margin-right: 100px;
}

.freelancre .states li:last-of-type {
    margin-right: 0;
}

.freelancre .states li h3 {
    font-size: 50px;
    font-weight: 400;
    margin-right: 20px;
}

.freelancre .states li p {
    font-size: 12px;
    text-transform: uppercase;
}

.freelancre .states .mail-us {
    margin-left: auto;
}

.freelancre .states .mail-us .text {
    text-align: right;
    padding-right: 20px;
}

.freelancre .states .mail-us .text h6 {
    font-size: 14px;
    margin-top: 5px;
}

.freelancre .states .mail-us .icon-box {
    width: 60px;
    height: 60px;
    line-height: 65px;
    text-align: center;
    border-radius: 5px;
    background: -webkit-linear-gradient(323.53deg, #eee 6.69%, rgba(4, 4, 5, 0.1) 85.43%);
    background: -o-linear-gradient(323.53deg, #eee 6.69%, rgba(4, 4, 5, 0.1) 85.43%);
    background: linear-gradient(126.47deg, #eee 6.69%, rgba(4, 4, 5, 0.1) 85.43%);
    font-size: 30px;
}

.slider-bus {
    min-height: 100vh;
    position: relative;
}

.slider-bus .swiper-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider-bus .setone {
    position: absolute;
    bottom: 8%;
    right: 40px;
    z-index: 8;
}

.slider-bus .setone .swiper-nav-ctrl {
    color: #ccc;
    font-size: 13px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    margin: 5px 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: static;
}

.slider-bus .setone .swiper-nav-ctrl:after {
    display: none;
}

.slider-bus .setone.setwo {
    position: static;
}

.slider-bus .setone.setwo .swiper-nav-ctrl {
    border-radius: 50%;
}

.slider-bus .setone.setwo .next-ctrl {
    position: absolute;
    top: 50%;
    right: 30px;
}

.slider-bus .setone.setwo .prev-ctrl {
    position: absolute;
    top: 50%;
    left: 30px;
}

.slider-bus .swiper-pagination-fraction {
    position: absolute;
    right: auto;
    left: 60px;
    bottom: 30px;
    width: auto;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}

.slider-bus .swiper-pagination-fraction .swiper-pagination-current {
    font-size: 60px;
    font-weight: 700;
    position: relative;
    color: transparent;
    -webkit-text-stroke: .5px #fff;
}

.slider-bus .swiper-pagination-fraction .swiper-pagination-current:after {
    content: '/';
    color: #fff;
    position: relative;
    margin: 0 10px;
    font-size: 12px;
    font-weight: 100;
}

.slider-bus .swiper-slide-active .caption h1 {
    -webkit-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.slider-bus .swiper-slide-active .caption h1 .char {
    -webkit-animation: fadeInUp 0.5s cubic-bezier(0.3, 0, 0.7, 1) both;
    animation: fadeInUp 0.5s cubic-bezier(0.3, 0, 0.7, 1) both;
    -webkit-animation-delay: calc(60ms * var(--char-index));
    animation-delay: calc(60ms * var(--char-index));
}

.slider-bus .swiper-slide-active .caption .thin,
.slider-bus .swiper-slide-active .caption .simple-btn,
.slider-bus .swiper-slide-active .caption .butn,
.slider-bus .swiper-slide-active .caption p {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.slider-bus .caption .thin {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 5px;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition-delay: .8s;
    -o-transition-delay: .8s;
    transition-delay: .8s;
}

.slider-bus .caption h1 {
    font-size: 90px;
    font-weight: 800;
    letter-spacing: 4px;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .5s,
        visibility .5s;
    -o-transition: opacity .5s,
        visibility .5s;
    transition: opacity .5s,
        visibility .5s;
}

.slider-bus .caption p {
    color: #eee;
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition-delay: .8s;
    -o-transition-delay: .8s;
    transition-delay: .8s;
}

.slider-bus .caption .simple-btn,
.slider-bus .caption .butn {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
}

.slider-bus .ontop {
    position: relative;
    z-index: 5;
}

.curve-bg {
    position: absolute;
    top: 0;
    left: -10%;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.pages-header {
    min-height: 75vh;
    padding: 150px 0 0;
    position: relative;
}

.pages-header .cont h1 {
    font-size: 55px;
}

.pages-header .half {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    z-index: -1;
    overflow: hidden;
}

.page-header .cont {
    padding: 220px 0 50px;
}

.page-header .cont h1 {
    font-size: 80px;
    font-weight: 600;
}

.page-header .img-wrapper {
    position: relative;
    min-height: 70vh;
}

.page-header .img-wrapper .title {
    position: absolute;
    top: 0;
    right: 0px;
    width: 100%;
    text-align: right;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    z-index: 3;
}

.page-header .img-wrapper .title h3 {
    font-size: 100px;
    font-weight: 900;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
}

.page-header .img-wrapper .map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page-header.proj-det.bg-img {
    min-height: 85vh;
    padding-bottom: 100px;
}

.page-header.proj-det.bg-img .item h6 {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.page-header.proj-det.bg-img .item p {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}

.page-header.proj-det.bg-img .item p a {
    margin: 0 7px;
}

.page-header.proj-det.bg-img .item p a:first-of-type {
    margin-left: 0;
}

.page-header.proj-det.bg-img .item p a:last-of-type {
    margin-right: 0;
}

.page-header.proj-det .img-wrapper {
    min-height: 80vh;
}

.works-header {
    min-height: 80vh;
}

.works-header.hfixd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.works-header .capt h4 {
    font-weight: 200;
    font-size: 24px;
    line-height: 1.8;
}

.works-header .capt h1 {
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.works-header .capt h1 span {
    display: block;
    font-size: 20px;
    font-weight: 300;
    text-transform: capitalize;
    color: #12c2e9;
}

.works-header .capt .bactxt {
    font-size: 30vw;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    opacity: .5;
}

.static {
    position: static;
}

.circle-bg {
    position: relative;
}

.circle-bg .circle-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.circle-bg .circle-color.fixed {
    position: fixed;
    pointer-events: none;
    opacity: .5;
}

.circle-bg .gradient-circle {
    position: absolute;
    left: -250px;
    top: 250px;
    right: auto;
    bottom: auto;
    z-index: -1;
    width: 500px;
    height: 500px;
    border-radius: 70%;
    background-image: -webkit-linear-gradient(45deg, #059dff, #36c6f0);
    background-image: -o-linear-gradient(45deg, #059dff, #36c6f0);
    background-image: linear-gradient(45deg, #059dff, #36c6f0);
    opacity: .25;
    -webkit-filter: blur(100px);
    filter: blur(100px);
}

.circle-bg .gradient-circle.two {
    left: auto;
    top: -250px;
    right: -250px;
    bottom: auto;
    background-image: -webkit-linear-gradient(45deg, #fb5343, #6549d5);
    background-image: -o-linear-gradient(45deg, #fb5343, #6549d5);
    background-image: linear-gradient(45deg, #fb5343, #6549d5);
}

.main-content {
    background: #fff;
    position: relative;
    z-index: 3;
    overflow-x: hidden !important;
}

/* ====================== [ End Slider ] ====================== */
/* ====================== [ Start showcase ] ====================== */
.showcase-full .parallax-slider .swiper-slide .bg-img {
    background-position: center center;
}

.showcase-full .parallax-slider .caption {
    position: relative;
}

.showcase-full .parallax-slider .caption h1 {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 1px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    position: relative;
}

.showcase-full .parallax-slider .caption h1 .stroke {
    margin-bottom: 10px;
}

.showcase-full .parallax-slider .caption h1 .bord {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 1px;
    background: #fff;
    border: 0;
    opacity: .1;
}

.showcase-full .parallax-slider .caption .discover {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    width: 200px;
    height: 200px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-transition-delay: 2s;
    -o-transition-delay: 2s;
    transition-delay: 2s;
    -webkit-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
    opacity: 0;
}

.showcase-full .parallax-slider .caption .discover span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    line-height: 50px;
}

.showcase-full .parallax-slider .swiper-slide-active .caption .discover {
    opacity: 1;
    -webkit-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
}

.showcase-full .dots {
    bottom: 30px;
    z-index: 1;
}

.showcase-full .dots span {
    background: #fff;
    width: 5px;
    height: 5px;
    margin: 0 7px !important;
    border-radius: 50% !important;
}

.showcase-full .dots span.swiper-pagination-bullet-active {
    position: relative;
}

.showcase-full .dots span.swiper-pagination-bullet-active:after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.showcase-carus {
    height: 100vh;
    /* position: absolute;
top: 0; */
}

.showcase-carus .swiper-container {
    height: 100%;
}

.showcase-carus .caption h1,
.showcase-carus .copy-cap h1 {
    font-size: 90px;
    font-weight: 800;
    line-height: 1.2;
    position: relative;
}

.showcase-carus .copy-cap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.showcase-carus .copy-cap .cap h1 span {
    color: transparent;
}

.showcase-carus .copy-cap .cap h1 .stroke {
    color: #fff;
    -webkit-text-stroke: 0;
}

.showcase-carus.circle-slide .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* width: 500px !important;
margin-right: 165px !important; */
}

.showcase-carus.circle-slide .swiper-slide .bg-img {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    margin: auto;
    background-position: center center;
}

.showcase-carus.circle-slide .swiper-slide .bg-img:before {
    border-radius: 50%;
}

.showcase-carus.circle-slide .caption,
.showcase-carus.circle-slide .copy-cap {
    position: absolute;
    top: 0;
    /* left: -25%; */
    width: 100%;
    height: 100%;
}

.showcase-carus.circle-slide .caption h1,
.showcase-carus.circle-slide .copy-cap h1 {
    font-size: 22px;
    display: block;
}

.showcase-carus.circle-slide .caption h1 .stroke,
.showcase-carus.circle-slide .copy-cap h1 .stroke {
    display: inline-block;
    color: transparent;
    /* -webkit-text-stroke: 1px #fff; */
    background: -webkit-gradient(linear, left top, right top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
    background: -webkit-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
    background: -o-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
    background: #545454;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.showcase-carus.circle-slide .caption h1 span,
.showcase-carus.circle-slide .copy-cap h1 span {
    margin-left: auto;
    color: transparent;
    /* -webkit-text-stroke: 1px #fff; */
    background: -webkit-gradient(linear, left top, right top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
    background: -webkit-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
    background: -o-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
    background: #545454;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.showstyle {
    height: 100vh;
}

.showstyle .swiper-container {
    height: 100%;
}

.showstyle .swiper-slide .bg-img {
    height: 70vh;
    margin: 15vh 0 0;
}

.link-img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.showstyle .caption h1 {
    font-size: 90px;
    font-weight: 800;
    line-height: 1.2;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.showstyle .caption h1 .stroke {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}

.stroke {
    text-align: center;
}

.showstyle .caption h1 span {
    margin-left: 200px;
}

.showstyle .caption .discover {
    margin-top: 50px;
    opacity: 0;
    -webkit-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
}

.showstyle .caption .discover i {
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 10px;
}

.showstyle .caption .discover span {
    font-size: 13px;
    font-weight: 600;
}

.showcase-grid {
    height: 100vh;
}

.showcase-grid .swiper-container {
    height: 100%;
}

.showcase-grid .swiper-slide .bg-img {
    height: 76vh;
    margin: 12vh 0 0;
    position: relative;
    background-position: center center;
}

.div-tooltip-tit {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #111;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    font-weight: 600;
    z-index: 99999;
}

.div-tooltip-sub {
    display: none;
    position: absolute;
    background-color: #111;
    color: #fff;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 500;
    z-index: 99999;
}

.carousel-control-next,
.carousel-control-prev {
    position: relative !important;
    width: auto !important;
}

/* ====================== [ end showcase ] ====================== */

@media only screen and (min-width: 1537px) {
    .info-text {
        font-size: 18px;
    }

    .about-content {
        padding: 30px;
    }
}

@media only screen and (max-width: 1400px) {
    .canhquan-item {
        margin: 0 10px;
        transform: scale(0.8);
    }

    .canhquan-item:hover {
        transform: scale(0.85);
    }

    .showcase-carus.circle-slide .swiper-slide .bg-img {
        height: 400px;
        width: 400px;
    }
}

@media only screen and (max-width: 992px) {
    .info-content {
        padding: 0;
    }

    .about-content {
        padding: 5px;
    }

    .showcase-carus.circle-slide .swiper-slide .bg-img {
        height: 300px;
        width: 300px;
    }
}

@media only screen and (max-width: 800px) {
    .content-duan {
        padding: 0 80px;
    }

    .imagess {
        width: 250px;
    }

    .overlay {
        height: 250px;
        width: 250px;
    }
}

@media only screen and (max-width: 500px) {
    .canhquan-path {
        top: 70%;
    }
}