


<header class="fullscreen-menu">
    <div id="header-container">


        <!-- Logo -->
        <div id="logo" class="hide-ball">
            <a class="ajax-link" data-type="page-transition" href="#">
                C.H.O.M
            </a>
        </div>
        <!--/Logo -->
        <!-- Navigation -->
        <nav>
            <div class="nav-height">
                <div class="outer">
                    <div class="inner">
                        <ul data-breakpoint="10025" class="flexnav">
                            <li class="link menu-timeline">
                                <a class="" href="#">
                                    <div class="before-span">
                                        <span data-hover="Click to see">Projects</span>
                                    </div>
                                </a>
                                <ul>
                                    <li>
                                        <a class="ajax-link" href="listcanhquan.html"
                                           data-type="page-transition">Landscape</a>
                                    </li>
                                    <li>
                                        <a class="ajax-link" href="listnoithat.html"
                                           data-type="page-transition">Interior</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="link menu-timeline">
                                <a href="gallery.html">
                                    <div class="before-span">
                                        <span data-hover="Click to see">Gallary</span>
                                    </div>
                                </a>
                            </li>
                            <li class="link menu-timeline">
                                <a href="contact.html">
                                    <div class="before-span">
                                        <span data-hover="Click to see">Contact</span>
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!--/Navigation -->
        <!-- Menu Burger -->
        <div class="button-wrap right menu burger-lines">
            <div class="icon-wrap parallax-wrap">
                <div class="button-icon parallax-element">
                    <div id="burger-wrapper">
                        <div id="menu-burger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-text sticky right"><span data-hover="Menu">Menu</span></div>
        </div>
        <!--/Menu Burger -->

    </div>
</header>