@model CHOM.Data.DuAn

@{
    ViewData["Title"] = "Chỉnh sửa dự án";
    Layout = "~/Areas/Admin/Views/Shared/Layout/_Layout.cshtml";
}

<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Header Start-->
    @await Component.InvokeAsync("HeaderAdmin")
    <!-- Page Header Ends-->
    <!-- Page Body Start-->
    <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        @await Component.InvokeAsync("SideBar")
        <!-- Page Sidebar Ends-->
        <!-- Page Sidebar Ends-->
        <div class="page-body">
            <div class="container-fluid">
                <div class="page-title">
                    <div class="row">
                    </div>
                </div>
            </div>
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header pb-0">
                        <h5>@ViewBag.Title</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="date-picker">
                                    <form action="/Admin/Project/Edit" enctype="multipart/form-data" method="post">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        @if (ViewBag.Message != null)
                                        {
                                            <div class="alert alert-danger">@ViewBag.Message</div>
                                        }
                                        <input asp-for="ID" type="hidden" />
                                        <input asp-for="HinhGT" type="hidden" />
                                        <div class="form-group">
                                            <label asp-for="TuaDe" class="control-label"></label>
                                            <input asp-for="TuaDe" class="form-control" />
                                            <span asp-validation-for="TuaDe" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Nam" class="control-label"></label>
                                            <input asp-for="Nam" class="form-control" />
                                            <span asp-validation-for="Nam" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="IDMucLuc" class="control-label"></label>
                                            <select asp-items="@ViewBag.ListMenu" asp-for="IDMucLuc" class="form-control"></select>
                                            <span asp-validation-for="IDMucLuc" class="text-danger"></span>
                                        </div>
                                        <div class="form-group d-flex flex-column">
                                            <div class="form-group d-flex flex-column">
                                                <label>Hình ảnh giới thiệu</label>
                                                <input name="singleFile" type="file" />
                                                <img class="uploadFile mt-3 img-uploadFile" src="/uploadFiles/@Model.HinhGT" />
                                            </div> 
                                        </div>
                                        <div class="form-group mt-2 d-flex flex-column">
                                            <label>Thay đổi danh sách hình ảnh</label>
                                            <input name="mulFile" multiple type="file" />
                                        </div>
                                        <div class="form-group btn-event mt-5">
                                            <a class="btn btn-back-hover" href="/Admin/Project">Quay về</a>
                                            <input type="submit" role="button" value="Chỉnh sửa" class="btn cl-btn cl-btn-edit" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- Container-fluid Ends-->
        </div>
    </div>
</div>