
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript" src="~/Client/js/Gallery"></script>
}
<!-- Content Scroll -->
<div id="content-scroll" style="position: absolute; top: 12vh;">
    <div class="gallery" id="gallery" uk-lightbox="animation: slide">
        <div class="gallery-item">
            <div class="content">
                <a class="uk-inline" href="images/interiors/interior01.jpg" data-caption="Caption 1">
                    <img src="https://source.unsplash.com/random/?architecture,care" width="1800"
                         height="1200" alt="">
                </a>
            </div>
        </div>
        <div class="gallery-item">
            <div class="content">
                <a class="uk-inline" href="images/interiors/interior02.jpg" data-caption="Caption 1">
                    <img src="https://source.unsplash.com/random/?architecture,studied" width="1800"
                         height="1200" alt="">
                </a>
            </div>
        </div>
        <div class="gallery-item">
            <div class="content">
                <a class="uk-inline" href="images/interiors/interior03.jpg" data-caption="Caption 1">
                    <img src="https://source.unsplash.com/random/?architecture,substance" width="1800"
                         height="1200" alt="">
                </a>
            </div>
        </div>
        <div class="gallery-item">
            <div class="content">
                <a class="uk-inline" href="images/interiors/interior04.jpg" data-caption="Caption 1">
                    <img src="https://source.unsplash.com/random/?architecture,choose" width="1800"
                         height="1200" alt="">
                </a>
            </div>
        </div>
        <div class="gallery-item">
            <div class="content">
                <a class="uk-inline" href="images/interiors/interior05.jpg" data-caption="Caption 1">
                    <img src="https://source.unsplash.com/random/?architecture,past" width="1800"
                         height="1200" alt="">
                </a>
            </div>
        </div>
        <div class="gallery-item">
            <div class="content">
                <a class="uk-inline" href="images/interiors/interior06.jpg" data-caption="Caption 1">
                    <img src="https://source.unsplash.com/random/?architecture,lamp" width="1800"
                         height="1200" alt="">
                </a>
            </div>
        </div>
        <div class="gallery-item">
            <div class="content">
                <a class="uk-inline" href="images/interiors/interior07.jpg" data-caption="Caption 1">
                    <img src="https://source.unsplash.com/random/?architecture,yet" width="1800"
                         height="1200" alt="">
                </a>
            </div>
        </div>
        <div class="gallery-item">
            <div class="content">
                <a class="uk-inline" href="images/interiors/interior01.jpg" data-caption="Caption 1">
                    <img src="https://source.unsplash.com/random/?architecture,eight" width="1800"
                         height="1200" alt="">
                </a>
            </div>
        </div>
        <div class="gallery-item">
            <div class="content">
                <a class="uk-inline" href="images/interiors/interior02.jpg" data-caption="Caption 1">
                    <img src="https://source.unsplash.com/random/?architecture,crew" width="1800"
                         height="1200" alt="">
                </a>
            </div>
        </div>
        <div class="gallery-item">
            <div class="content">
                <a class="uk-inline" href="images/canhquan/cq2.jpg" data-caption="Caption 1">
                    <img src="https://source.unsplash.com/random/?architecture,event" width="1800"
                         height="1200" alt="">
                </a>
            </div>
        </div>
        <div class="gallery-item">
            <div class="content">
                <a class="uk-inline" href="images/canhquan/cq1.jpg" data-caption="Caption 1">
                    <img src="https://source.unsplash.com/random/?architecture,instrument" width="1800"
                         height="1200" alt="">
                </a>
            </div>
        </div>
        <div class="gallery-item">
            <div class="content">
                <a class="uk-inline" href="images/canhquan/cq3.jpg" data-caption="Caption 1">
                    <img src="https://source.unsplash.com/random/?architecture,practical" width="1800"
                         height="1200" alt="">
                </a>
            </div>
        </div>
        <div class="gallery-item">
            <div class="content">
                <a class="uk-inline" href="images/canhquan/cq4.jpg" data-caption="Caption 1">
                    <img src="https://source.unsplash.com/random/?architecture,pass" width="1800"
                         height="1200" alt="">
                </a>
            </div>
        </div>
        <div class="gallery-item">
            <div class="content">
                <a class="uk-inline" href="images/interiors/interior04.jpg" data-caption="Caption 1">
                    <img src="https://source.unsplash.com/random/?architecture,bigger" width="1800"
                         height="1200" alt="">
                </a>
            </div>
        </div>
        <div class="gallery-item">
            <div class="content">
                <a class="uk-inline" href="images/interiors/interior02.jpg" data-caption="Caption 1">
                    <img src="https://source.unsplash.com/random/?architecture,number" width="1800"
                         height="1200" alt="">
                </a>
            </div>
        </div>
        <div class="gallery-item">
            <div class="content">
                <a class="uk-inline" href="images/interiors/interior07.jpg" data-caption="Caption 1">
                    <img src="https://source.unsplash.com/random/?architecture,feature" width="1800"
                         height="1200" alt="">
                </a>
            </div>
        </div>
        <div class="gallery-item">
            <div class="content">
                <a class="uk-inline" href="images/interiors/interior04.jpg" data-caption="Caption 1">
                    <img src="https://source.unsplash.com/random/?architecture,line" width="1800"
                         height="1200" alt="">
                </a>
            </div>
        </div>
        <div class="gallery-item">
            <div class="content">
                <a class="uk-inline" href="images/interiors/interior03.jpg" data-caption="Caption 1">
                    <img src="https://source.unsplash.com/random/?architecture,railroad" width="1800"
                         height="1200" alt="">
                </a>
            </div>
        </div>
        <div class="gallery-item">
            <div class="content">
                <a class="uk-inline" href="images/canhquan/cq2.jpg" data-caption="Caption 1">
                    <img src="https://source.unsplash.com/random/?architecture,pride" width="1800"
                         height="1200" alt="">
                </a>
            </div>
        </div>
        <div class="gallery-item">
            <div class="content">
                <a class="uk-inline" href="images/canhquan/cq6.jpg" data-caption="Caption 1">
                    <img src="https://source.unsplash.com/random/?architecture,too" width="1800"
                         height="1200" alt="">
                </a>
            </div>
        </div>
        <div class="gallery-item">
            <div class="content">
                <a class="uk-inline" href="images/canhquan/cq1.jpg" data-caption="Caption 1">
                    <img src="https://source.unsplash.com/random/?architecture,bottle" width="1800"
                         height="1200" alt="">
                </a>
            </div>
        </div>
        <div class="gallery-item">
            <div class="content">
                <a class="uk-inline" href="images/canhquan/cq3.jpg" data-caption="Caption 1">
                    <img src="https://source.unsplash.com/random/?architecture,base" width="1800"
                         height="1200" alt="">
                </a>
            </div>
        </div>
        <div class="gallery-item">
            <div class="content">
                <a class="uk-inline" href="images/interiors/interior03.jpg" data-caption="Caption 1">
                    <img src="https://source.unsplash.com/random/?architecture,cell" width="1800"
                         height="1200" alt="">
                </a>
            </div>
        </div>
        <div class="gallery-item">
            <div class="content">
                <a class="uk-inline" href="images/interiors/interior04.jpg" data-caption="Caption 1">
                    <img src="https://source.unsplash.com/random/?architecture,bag" width="1800"
                         height="1200" alt="">
                </a>
            </div>
        </div>
        <div class="gallery-item">
            <div class="content">
                <a class="uk-inline" href="images/interiors/interior06.jpg" data-caption="Caption 1">
                    <img src="https://source.unsplash.com/random/?architecture,card" width="1800"
                         height="1200" alt="">
                </a>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="hidden">
        <div id="footer-container">
        </div>
    </footer>
    <!--/Footer -->


</div>
<!--/Content Scroll -->