
.txt-notification
{
    display: none;
}
.img-uploadFile{
    width: 20%;
    max-height: 200px;
    background-size: cover;
}
td img {
    object-fit: cover;
    height: 100px;
    aspect-ratio: 1;
    border-radius: 1em;
}
.form-group{
    margin-top: 15px;
}
.img-logo{
    width: 30%;
}
.logo-login{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-header{
    display: flex;
    justify-content: space-between;
}
a{
    font-size: 14px !important;
}
.logo-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 3px;
    padding: 0 !important;
}
.for-light {
    height: 70px !important;
}
.cl-btn {
    background: #808080;
    color: #DDDDDD;
}
.cl-btn:hover {
    color: white;
    background: #000;
    transition: all ease-in-out 0.5s;
}
.btn-back-hover {
    margin-right: 5px;
    background: #808080;
    color: #FFFFFF !important;
}

.btn-event {
    display: flex;
    justify-content: end;
}
.cl-pen {
    color: #FFCC00;
}
.cl-trash {
    color: #BB0000;
}
.margin-list{
    margin: 10px;
}
.img-fluid{
    padding: 7px !important;
}
.cl-btn-edit {
    background: #FF9900 !important;
    color: #FFFFFF !important;
}
.cl-btn-create {
    background: #00CC00 !important;
    color: #FFFFFF !important;
}
.login-form{
    border-radius: 1em;
}
.btn-block:hover{
    color: #FFFFFF !important;
}
.btn-black{
    color: #FFFFFF !important;
    background: #000000;
}
body {
    background-color: #f4f6fd !important;
}
.header-wrapper {
    background-color: #f4f6fd !important;
}
.spinner-input {
    margin-left: 10px;
    display: none;
}