@model IEnumerable<CHOM.Data.LienHe>
@{
    ViewData["Title"] = "Danh sách liên hệ";
    Layout = "~/Areas/Admin/Views/Shared/Layout/_Layout.cshtml";
}
@section js{
    <script src="~/Admin/js/SocialMedia/Home.js" type="text/javascript"></script>
}

<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Header Start-->
    @await Component.InvokeAsync("HeaderAdmin")
    <!-- Page Header Ends-->
    <!-- Page Body Start-->
    <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        @await Component.InvokeAsync("SideBar")
        <!-- Page Sidebar Ends-->
        <div class="page-body">
            <div class="container-fluid">
            </div>
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                <div class="row">
                    <!-- Feature Unable /Disable Order Starts-->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header pb-0">
                                <h5>@ViewBag.Title</h5>
                                <div></div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Phương thức</th>
                                                <th>Tên</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr class="btn-@item.ID">

                                                    <td>@item.PhuongThuc</td>
                                                    <td>@item.Ten</td>
                                                    <td>
                                                        <a href="/Admin/SocialMedia/Edit/@item.ID" class="btn btn-sm btn-warning">Sửa</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>