

.img-mask {
    filter: gray;
    /* IE5+ */
    -webkit-filter: grayscale(100%);
    /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .8s ease-in-out;
}

.img-mask:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}
